/*! reset.css v0.01 |  Rahul Srivastava | https://github.com/truwebby/reset */
/* Margin reset */
.no-Mn {
    margin: 0 !important;
}

.no-Mn-Tp {
    margin-top: 0 !important;
}

.no-Mn-Bm {
    margin-bottom: 0 !important;
}

.no-Mn-Lt {
    margin-left: 0 !important;
}

.no-Mn-Rt {
    margin-right: 0 !important;
}

/* Padding reset*/
.no-Pg {
    padding: 0 !important;
}

.no-Pg-Tp {
    padding-top: 0 !important;
}

.no-Pg-Bm {
    padding-bottom: 0 !important;
}

.no-Pg-Lt {
    padding-left: 0 !important;
}

.no-Pg-Rt {
    padding-right: 0 !important;
}

/*Border reset*/
.no-Br {
    border: none !important;
}

/*Border radius reset*/
.no-Br-Rs {
    border-radius: 0 !important;
}

/*Position reset*/
.no-Tp {
    top: 0 !important;
}

.no-Lt {
    left: 0 !important;
}

.no-Rt {
    right: 0 !important;
}

.no-Bt {
    bottom: 0 !important;
}

/* Background reset */
.no-Bd {
    background: none !important;
}

/*Shadow reset */
.no-Bx-Sw {
    box-shadow: none !important;
}

.no-Tt-Sw {
    text-shadow: none !important;
}
