body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif !important;
}

.top-bar {
    /*background: #363D8D;*/
}
.leftPanel {
    background: #E2E3E9;
    color: #eee;
    /*border-right: 1px solid #D4D5DA;*/
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.3) inset;
    }

.leftPanel h4, .rightPanel h4 {
    padding: 5px 0;
    background: #C5C6D1;
    margin: 0;
    padding-left: 15px;
    font-size: 1.1em;
    font-weight: 600;
    color: #707180;
}

.rightPanel h4 {
    background: none;
    border-bottom: 1px solid #eee;
    font-size: .9em;
}
.leftPanel .tabs dd > a {
    padding: 7px 15px;
    background: none;
    /*color: #A9A9B4 ;*/
    color: #707180;
}
.leftPanel .tabs dd.active a, .leftPanel .tabs dd > a:hover, .tab-bg dd.active a, .tab-bg dd > a:hover  {
    background: #54a0d7;
    color: #fff;
    box-shadow: none;
}

.rightPanel {
    /*background: rgba(197, 198, 209, 0.15);*/
    height: 100%;
    /*padding: 0 15px;*/
}
.rightPanel .content p {
    color: #666;
    padding: 7px;
    margin: 12px 10px;
    /*border: 1px solid #E2E2E2;*/
    font-size: .9em;
    background: #fff;
}

.dataTabs a {
    padding: 3px 10px !important;
    margin: 0px 8px 8px 0;
    border-radius: 3px;

}

.tabs.vertical, .tabs-content.vertical {
    width: 100%;
}

.innerContent {
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    margin: 1px;
}
.innerContent table {
    border: none;
}
.tab-bg {
    background: none;
    font-weight: 600;
    color: #707180;
    padding-left: 10px;
    border-bottom: 1px solid #eee;

}

.tab-bg dd > a {
    padding: 7px 15px;
    background: rgba(197, 198, 209, 0);
    color: #707180 ;
    font-size: .9em;
    font-weight: 600;
    box-shadow: 0px 0px 0px 1px #ccc;
}

.calendar {
    /*margin: 10px;*/
    padding: 10px;
    background: #fff;
    /*border: 1px solid #E2E2E2;*/
}

#calendar table {
    border: none;
}

.canvasStyle {
    margin-top: 3%;
}

.highlight-1 {
    background: rgb(169, 228, 169);
    border: 1px solid rgb(139, 204, 139);
}


