<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analytics Engine</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/vendor/modernizr.js" type="text/javascript"></script>
  </head>
  <body>

  <div class="large-24 columns no-Pg">
      <nav class="top-bar" data-topbar>
          <ul class="title-area">
              <li class="name">
                  <h1><a href="#">Analytics Engine</a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
              <!-- Left Nav Section -->

          </section>
      </nav>
  </div>
  <section class="large-24 columns no-Pg ">
      <div class="large-4 columns no-Pg">
          <div class="leftPanel getHeight">

              <dl class="tabs vertical" data-tab>
		{% for key in keys %}
		{% if loop.index0 == 0 %}
                <dd class="active"><a id="list_{{loop.index0}}_{{key}}" href="#panel-{{ loop.index0 }}"><i class="fa fa-thumb-tack"></i> {{ key }}</a></dd>
		{% else %}
		<dd><a id="list_{{loop.index0}}_{{key}}" href="#panel-{{ loop.index0 }}"><i class="fa fa-thumb-tack"></i> {{ key }}</a></dd>
		{% endif %}
		{% endfor %}
              </dl>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="large-20 columns no-Pg">
        <div class="rightPanel">
          <div class="tabs-content vertical">
	    <!-- Repeat Block -->
	    {% for key in keys %}
	    {% if loop.index0 == 0 %}
            <div class="content active no-Pg" id="panel-{{ loop.index0 }}">
	    {% else %}
	    <div class="content no-Pg" id="panel-{{ loop.index0 }}">
	    {% endif %}
              <p>{{ descriptions.get(key) }}</p>
	      
              <section class="innerContent">
                <div class="large-24 columns no-Pg">
                  <dl class="tabs tab-bg dataTabs" data-tab>
                    <dd class="active"><a id="tab-{{loop.index0}}" href="#panel2-{{loop.index0}}"><i class="fa fa-table"></i> Tabular</a></dd>
                    <dd><a id="tab-{{loop.index }}" href="#panel2-{{loop.index}}"><i class="fa fa-bar-chart-o"></i> Graphical</a></dd>
                  </dl>
                  <div class="tabs-content">
                    <div class="content  active" id="panel2-{{loop.index0}}">
		      <div id="calendar{{loop.index0}}" class="calendar"></div>
                    </div>
                    <div class="content" id="panel2-{{loop.index}}">
                      <canvas id="canvas{{loop.index0}}" height="300" width="1000" class="canvasStyle"></canvas>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </section>
            </div>
	    <!-- End Here -->
	    {% endfor %}
	    
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
  </section>
  <input type="hidden" value="{{first_key}}" id="first_key" />
  
  <script src="/static/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="/static/js/foundation.min.js" type="text/javascript"></script>
  <script src="/static/js/Chart.min.js" type="text/javascript"></script>
  <script src="/static/js/fullcalendar.js" type="text/javascript"></script>
  <script src="/static/js/main.js" type="text/javascript"></script>

  <script>
    $(document).foundation();
  </script>
  </body>
</html>
